
# --- Python cache ---
__pycache__/
**/__pycache__/
*.pyc
**/*.pyc

# --- Env ---
.env
.env.*

# --- IDE ---
.idea/
.idea/**
*.iml


# --- OS ---
.DS_Store

# conversations
data/conversations/
!data/conversations/README.md